<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pikatchu</title>
        <link rel="stylesheet" href="/static/pikatchu.css">
</head>
<body>

    <nav class="navbar">
        <ul>
            <li><a href="pokemon-go">Pokemon GO</a></li>
            <li><a href="#">O nas</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </nav>



 <h1>
        Witaj!
 </h1>


        <img src="/static/pikachu.png" />

    </a>

<h2>
    Poznaj najsilniejsze Pokemony w Pokemon GO!
</h2>

<img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png" alt="Pikachu" />

<h2>
     TOP 10 najlepszych Pokemonów:
</h2>

        <li>Slaking – 4431 Max CP.</li>
        <li>Eternatus – 4429 Max CP.</li>
        <li>Mewtwo – 4178 Max CP.</li>
        <li>Groudon – 4115 Max CP.</li>
        <li>Kyogre – 4115 Max CP./li>
        <li>Zekrom – 4038 Max CP.</li>
        <li>Reshiram – 4038 Max CP.</li>
        <li>Dialga – 4038 Max CP.</li>
        <li>Meloetta – 3972 Max CP.</li>
        <li>Garchomp – 3962 Max CP.</li>





</body>
</html>